@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

img {
  width: 280px;
}

input {
  border: 1px solid #cbc9cc;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}
input:focus {
  outline: 1px solid #21092f;
}

.danger {
  border: 1px solid hsl(0deg, 100%, 66%);
}

.container {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.credit-card {
  height: 25vh;
  width: 100%;
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  position: relative;
}
.credit-card__back {
  width: 280px;
  right: -30px;
  top: 20px;
  position: relative;
}
.credit-card__back__cvc {
  position: relative;
  color: white;
  top: -90px;
  padding: 0 40px 0 0;
  width: 100%;
  text-align: right;
  font-size: 10px;
  letter-spacing: 0.5px;
}
.credit-card__front {
  width: 280px;
  position: relative;
  top: -90px;
  right: 25px;
}
.credit-card__front img {
  background-color: transparent;
  -webkit-box-shadow: 2px 18px 27px -7px rgba(0, 0, 0, 0.38);
  box-shadow: 2px 18px 27px -7px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}
.credit-card__front::after {
  content: "";
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: -170px;
  right: -20px;
}
.credit-card__front::before {
  content: "";
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 50px;
  right: -60px;
  z-index: 100;
}
.credit-card__front__number {
  position: relative;
  color: white;
  top: -70px;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
}
.credit-card__front__data {
  position: relative;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: -55px;
  font-size: 8px;
  letter-spacing: 1px;
  padding: 0 20px;
}

.container__credit-info {
  display: grid;
  grid-template-columns: 1;
  width: 100%;
}

.input-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  padding: 0 20px 0 30px;
}
.input-item__title {
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px 0 3px 0;
}
.input-item__error {
  color: hsl(0deg, 100%, 66%);
  font-size: 12px;
  margin: 2px 0;
}

.dates-inputs {
  display: flex;
  gap: 5px;
}

.credit-infor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  width: 100%;
}
.credit-infor__titles {
  width: 100%;
  margin: 10px 0 3px 0;
  font-size: 12px;
  letter-spacing: 1px;
}
.credit-infor__titles__date {
  margin-right: 15px;
}
.credit-infor__inputs {
  display: flex;
}
.credit-infor__inputs > div:first-of-type {
  display: flex;
  flex-direction: column;
}
.credit-infor__input-date {
  width: 60px;
}
.credit-infor__input-cvc {
  margin: 0 0 0 20px;
  width: 195px;
}
.credit-infor__input-cvc input {
  width: 100%;
}

.button {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #21092f;
  color: white;
  width: 80%;
  border-radius: 10px;
  margin: 30px auto 0 auto;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  cursor: pointer;
}
.button:focus {
  outline: none;
}

.thank-you {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.thank-you__image {
  width: 70px;
  margin: 25px 0 25px 0;
}
.thank-you__image img {
  width: 100%;
}
.thank-you__title {
  color: #21092f;
  margin-bottom: 10px;
  font-size: 25px;
  letter-spacing: 2px;
}
.thank-you__subtitle {
  color: #cbc9cc;
  font-size: 16px;
}

.attribution {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
}

/* -------------------- style for tablet since ipad mini ------------------- */
@media only screen and (min-width: 767px) {
  .credit-card {
    height: 20vh;
  }
  .credit-card__back {
    width: 350px;
    right: -70px;
    top: 30px;
  }
  .credit-card__back__cvc {
    top: -90px;
    right: 60px;
    padding: 0 40px 0 0;
    font-size: 10px;
  }
  .credit-card__front {
    width: 350px;
    top: -60px;
    right: 0px;
  }
  .credit-card__front::after {
    width: 40px;
    height: 40px;
    top: -170px;
    right: -30px;
  }
  .credit-card__front::before {
    width: 20px;
    height: 20px;
    top: -103px;
    right: -80px;
    z-index: 100;
  }
  .credit-card__front__number {
    top: -70px;
    letter-spacing: 2px;
  }
  .credit-card__front__data {
    top: -55px;
    right: 5px;
    font-size: 8px;
    letter-spacing: 1px;
    padding: 0 50px;
  }

  .credit-infor__input-cvc {
    margin: 0 0 0 20px;
    width: 100%;
  }
  .credit-infor__input-cvc input {
    width: 100%;
  }
}
/* ---------------------------- style for desktop --------------------------- */
@media only screen and (min-width: 1180px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .credit-card {
    height: 100%;
    justify-content: center;
  }
  .credit-card__back {
    width: 380px;
    height: 208px;
    right: -40%;
    top: 225px;
  }
  .credit-card__back img {
    width: 100%;
    position: relative;
  }
  .credit-card__back__cvc {
    top: -120px;
    right: 10px;
    padding: 0 40px 0 0;
    font-size: 14px;
  }
  .credit-card__front {
    width: 380px;
    height: 208px;
    right: -30%;
    top: -210px;
  }
  .credit-card__front img {
    width: 100%;
    position: relative;
    top: -30px;
  }
  .credit-card__front::after {
    width: 60px;
    height: 60px;
    top: -250px;
    right: -30px;
  }
  .credit-card__front::before {
    width: 25px;
    height: 25px;
    top: 55px;
    right: -100px;
    z-index: 100;
  }
  .credit-card__front__number {
    top: -110px;
    letter-spacing: 3px;
    font-size: 18px;
  }
  .credit-card__front__data {
    top: -90px;
    right: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 30px;
  }

  .container__credit-info {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input-item {
    width: 60%;
  }

  .button {
    width: 50%;
  }

  .thank-you {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cbc9cc;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cbc9cc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cbc9cc;
}

/*# sourceMappingURL=styles.css.map */
